.theme-default {
  --bg_colour: #333;
  --bg_light_colour: #666;
  --fg_colour: #eee;
  --fg_dark_colour: #999;
}

body {
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	background: var(--bg_colour);
	color: var(--fg_colour);
}

input {
	display: block;
	width: 100%;
	font-size: 200%;
	background: var(--bg_light_colour);
	border: none;
	margin-bottom: 1vmin;
	color: var(--fg_colour);
	border: 1px solid var(--fg_dark_colour);
	box-sizing: border-box;
}

input::placeholder {
	color: var(--fg_dark_colour);
}

div.dropdown {
	background: var(--bg_light_colour);
	color: var(--fg_colour);
	display: flex;
	font-size: 200%;
	width: 100%;
	margin-bottom: 1vmin;
}

div.dropdown span {
	min-width: 0px;
	flex: 50% 1 1;
}

div.dropdown select {
	min-width: 0px;
	background: var(--bg_light_colour);
	color: var(--fg_colour);
	font-size: 100%;
	flex: 50% 1 1;
}

.gtatime {
	position: relative;
}

.gtatime::after {
	content: "GTA Hours";
	position: absolute;
	display: block;
	right: 2vw;
	top: 25%;
	bottom: 0px;
	color: var(--fg_colour);
}

button {
	background: var(--bg_light_colour);
	color: var(--fg_colour);
	display: block;
	font-size: 200%;
	width: 100%;
	cursor: pointer;
	border: none;
}

#loading {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 1vh;
	bottom: 1vh;
	left: 1vw;
	right: 1vw;
}

.page {
	display: block;
	position: absolute;
	top: 1vh;
	bottom: 1vh;
	left: 10vw;
	right: 10vw;

	text-align: center;
	width: 80vw;
	height: 98vh;
}

@media (orientation: landscape) {
	.page {
		left: 25vw;
		width: 50vw;
	}
}

.page .header_spacing {
	position: relative;
	height: 10vh;
}

.page .header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0px;
	height: 10vh;
	background: var(--bg_colour);
}

.page .header #back_icon {
	font-size: 200%;
	cursor: pointer;
}

.page .header .app_title {
	padding-left: 2vw;
}

.page .header_time_spacing {
	position: relative;
	height: 25vh;
}

.page .header_time {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 25vh;
	width: 100vw;
	background: var(--bg_colour);
}

.page .header_time #home_timedisplay {
	font-size: 500%;
	font-family: monospace;
}

.page .header_time #home_weekday {
	font-size: 140%;
}

.page .section_title {
	font-size: 50%;
	text-align: left;
	border-bottom: solid 1px var(--fg_colour);
}

.page .section#section_settings {
	margin-top: 5vh;
}

.page .section#section_settings div.small {
	font-size: 75%;
}

.page .section#section_timers {
	display: none;
}

.page .section#section_timers .timer * {
	cursor: pointer;
	padding-left: 1vw;
	padding-right: 1vw;
}

.page .section#section_timers .timer {
	display: flex;
	flex-direction: row;
	padding-left: 1vw;
	padding-right: 1vw;
}

.page .section#section_timers .timer .name {
	flex: 100%;
	margin-right: 1vw;
}

.page .section {
	font-size: 200%;
	padding-bottom: 5vh;
}

.page[name="timer"] button {
	margin-top: 3vh;
}

.grid {
	display: grid;
	width: 100%;
	grid-gap: 1vmin 1vmin;
	grid-template-columns: repeat(3, auto);
	box-sizing: border-box;
}

.page .grid .app_icon {
	cursor: pointer;
	position: relative;
	aspect-ratio: 1;
	filter: url(#app-icon-filter);
	background: var(--bg_light_colour);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

.page .grid .app_text {
	position: absolute;
	right: 3px;
	bottom: 0px;
}

.page .footer_spacing {
	position: relative;
	height: 10vh;
}

.page .footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 10vh;
	width: 100vw;
	background: var(--bg_colour);
}

.page .footer #home_drawericon {
	font-size: 200%;
	cursor: pointer;
}
