body {
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	background: #333;
	color: #eee;
}

#loading {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 1vh;
	bottom: 1vh;
	left: 1vw;
	right: 1vw;
}

.page {
	display: block;
	position: absolute;
	top: 1vh;
	bottom: 1vh;
	left: 10vw;
	right: 10vw;

	text-align: center;
	width: 80vw;
	height: 98vh;
}

@media (orientation: landscape) {
	.page {
		left: 25vw;
		width: 50vw;
	}
}

.page .header_spacing {
	position: relative;
	height: 10vh;
}

.page .header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0px;
	height: 10vh;
	background: #333;
}

.page .header #back_icon {
	height: 50%;
	cursor: pointer;
}

.page .header .app_title {
	padding-left: 2vw;
}

.page .header_time_spacing {
	position: relative;
	height: 25vh;
}

.page .header_time {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 25vh;
	width: 100vw;
}

.page .header_time #home_timedisplay {
	font-size: 500%;
	font-family: monospace;
}

.page .header_time #home_weekday {
	font-size: 140%;
}

.page .section_title {
	font-size: 50%;
	text-align: left;
	border-bottom: solid 1px #eee;
}

.page .section#section_timers {
	display: none;
}

.page .section#section_timers .timer * {
	cursor: pointer;
	padding-left: 1vw;
	padding-right: 1vw;
}

.page .section#section_timers .timer {
	display: flex;
	flex-direction: row;
	padding-left: 1vw;
	padding-right: 1vw;
}

.page .section#section_timers .timer .name {
	flex: 100%;
	margin-right: 1vw;
}

.page .section {
	font-size: 200%;
	padding-bottom: 5vh;
}

.grid {
	display: grid;
	width: 100%;
	grid-gap: 1vmin 1vmin;
	grid-template-columns: repeat(3, auto);
	box-sizing: border-box;
}

.page .grid .app_icon {
	cursor: pointer;
	position: relative;
	aspect-ratio: 1;
	background: #666;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

.page .grid .app_text {
	position: absolute;
	right: 3px;
	bottom: 0px;
}

.page .footer_spacing {
	position: relative;
	height: 10vh;
}

.page .footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 10vh;
	width: 100vw;
	background: #333;
}

.page .footer #home_drawericon {
	height: 50%;
	cursor: pointer;
}
